.App {
  text-align: center;
}

.dialogeBox {
  padding-top: 50px;
}

.column1 {
  display: grid;
  position: absolute;
  margin-left: 30%;
  width: auto;
  text-align: left;
}

.column2 {
  position: absolute;
  display: grid;
  margin-left: 60%;
}
